/* BACKGROUND1 BEGINS */
.background1{
    background: url("../IMG/paddles.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left; 
    background-size: 70vh;
    height: 100vh;
    margin-left: 0;
}
/* BACKGROUND ENDS */

/* TITLE BEGINS */
.PingPong {
    float: right;
    width: 90vh;
    background: white;

}
.PingPong h2{
    margin-left: 5vh;
}
/* TITLE ENDS */

/* INSTRUCTIONS BEGIN */
.instructions{
    position: absolute;
    bottom: 10vh;
    right: 10vh;
    font-size: 3vh;
    max-width: 70vh;
    text-align: left;
}
.keyword {
    text-decoration: underline;
}
/* INSTRUCTIONS END */

/* SECTION 2 SCROLL BEGINS */
#submit{
    position: absolute;
    top: 77.5vh;
    left: 20vh;
}
/* SECTION 2 SCROLL ENDS */

/* NUMBER INPUT BOX, START AND RESET BUTTONS BEGIN */
.button {
    opacity: 0%;
    margin-top: 5vh;
    margin-left: 55vh;
    background: none;
    padding: 1vh 1vh;
    border: 0.3vh solid #66461e00;
    border-radius: 1vh;
    color: #462b19;
    position: absolute;
    width: 15vh;
}
#submit {
    margin-left: 5vh;
    position: absolute;
}

#number {
    margin-top: -7vh;
    margin-left: 6vh;
    border-radius: 1vh;
    text-align: center;
    background: rgba(179, 120, 32, 0);
    border: #66461e00;
    height: 10vh;
    width: 12.5vh;
    position: absolute;
    font-size: 5vh;
}

#number:focus{
    outline: none;
}

::-webkit-input-placeholder {
    text-align: center;
    color: #422918;
 }
    #reset {
    opacity: 0%;
    margin-top: 7vh;
    margin-left: 3vh;
    background: none;
    padding: 1vh 1vh;
    border: 0.3vh solid #020101;
    border-radius: 1vh;
    color: #050302;
    position: absolute;
    width: 15vh;
}
#start {
    opacity: 0%;
    margin-top: 3vh;
    margin-left: 3vh;
    background: none;
    padding: 1vh 1vh;
    border: 0.3vh solid #020101;
    border-radius: 1vh;
    color: #050302;
    position: absolute;
    width: 15vh;
}
/* NUMBER INPUT BOX, START AND RESET BUTTONS END */

/* PING/PONG/1 PLACEMENT BEGINS */
.background2 {
    background: url("../IMG/game.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-left: 0;
    margin-top: 0;
}
.ping{
    font-size: 10vh;
}
.pong{
    font-size: 10vh;
}
.number {
    font-size: 10vh;
}
#row{
    padding-top: 40vh;
}
/* PING/PONG/1 PLACEMENT ENDS */

/* PLAY AGAIN INSTRUCTIONS */
.playagain{
    font-size: 3vh;
    max-width: 70vh;
}
/* PLAY AGAIN INSTRUCTIONS END */